.container-fluid{
   width: 100%;
}

.container{
   width: 100%;
   margin:0 auto;
}

.hidden-xs{
   display: none;
}

.hidden-sm{
   display: block;
}

.tlo{
   background-color: darkorange;
}
.tresc{
   background-color:pink;
}




@media(min-width:576px){
   .container{
      width: 540px;
   }
   .hidden-xs{
      display: block;
   }
   .hidden-sm{
      display: none;
   }
}

@media(min-width:768px){
   .container{
      width: 720px;
   }
   .tlo{
      background-color: tan;
   }
   .hidden-sm{
      display: block;
   }
   .hidden-md{
      display: none;
   }
}

@media(min-width:992px){
   .container{
      width: 960px;
   }
   .hidden-md{
      display: block;
   }
   .hidden-lg{
      display: none;
   }
}

@media(min-width:1200px){
   .container{
      width: 1140px;
   }
   .hidden-lg{
      display: block;
   }
   .hidden-xl{
      display: none;
   }
}